<div>
    <h2 style="margin: 30px !important">Contact</h2>
<form style="margin: 30px !important">
    <div class="mb-3 mt-3">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter Email">
    </div>
    <div class="mb-3">
      <label for="subject">Subject:</label>
      <input type="text" class="form-control" id="subject" placeholder="Enter Age">
    </div>
    <div class="mb-3">
        <label for="message">Salary:</label>
        <textarea class="form-control" id="message" placeholder="Enter message"></textarea>
      </div>
    <button type="button" onclick="alert('Email was successfully sent')" class="btn btn-primary">Send Message</button>
  </form>
</div>